{% extends "main.html" %}
{% block title %} New Drink {% endblock %}
{% block content %}
<div class="col-md-6">
	<form action="#" method = "post">
		<div class="form-group">
			<label for="name">Name:</label>
			<input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the drink">

			<label for="description">Description:</label>
			<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the drink"></textarea>

			<label for="price">Price:</label>
			<div class="input-group">
				<div class="input-group-addon">$</div>
				<input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
			</div>
			<button type="submit" class="btn btn-default" id="submit" type="submit">
			<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
		</div>
	</form>
</div>
<div class="col-md-6">
	<img class="img-responsive drink-image" src="{{ url_for('static', filename='img/create_drink.jpg') }}" alt="Creating a drink">
</div>
{% endblock %}
