{% extends "main.html" %}
{% block title %}
{% if drink.type == "Martini" %}
<img class="img-circle drink-type" src="{{ url_for('static', filename='img/martini.jpg') }}" alt="Martini">
{% elif drink.type == "Shot" %}
<img class="img-circle drink-type" src="{{ url_for('static', filename='img/shot.jpg') }}" alt="Shot glass">
{% elif drink.type == "Beer" %}
<img class="img-circle drink-type" src="{{ url_for('static', filename='img/beer.jpg') }}" alt="Beer pitcher">
{% else %}
<img class="img-circle drink-type" src="{{ url_for('static', filename='img/cocktail.jpg') }}" alt="Cocktail">
{% endif %}
 {{drink.name}}
{% endblock %}
{% block content %}
<div class="col-md-6">
	<div class="row">
		<div class="col-md-10">
			<h4>{{drink.description}}</h4>
		</div>
		<div class="col-md-2">
			<h4><em>$ {{drink.price}}</em></h4>
		</div>
	</div>
</div>
<div class="col-md-6">
	<h5>Available at <a href="{{url_for('showMenu', bar_id = drink.bar.id)}}">{{drink.bar.name}}</a></h5>
	<h5 class="text-right">
		Added by {{drink.user.name}}
		<img class="img-circle user-pic" src="{{drink.user.picture}}" alt="{{drink.user.name}} picture">
	</h5>
</div>
{% endblock %}
