{% extends "main.html" %}
{% block content %}
{% include "flash.html" %}

<div class="row padding-top padding-bottom">
	<div class="col-md-10 padding-none">
		<a href="{{url_for('newBar')}}">
			<button class="btn btn-default" id="new-bar">
				<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Add Bar
			</button>
		</a>
	</div>
</div>

<div class="row">
{% for bar in bars %}
<div class="col-xs-12 col-sm-6 col-md-3">
	<h3>
	<a href="{{url_for('showMenu', bar_id = bar.id)}}">
		{{bar.name}}
	</a>
	</h3>
</div>

{% endfor %}
</div>
{% endblock %}
