{% extends "main.html" %}
{% block content %}

<!-- Sign in with Google+ -->
<div id="signInButton">
<span class="g-signin"
    data-scope="openid email"
    data-clientid="862008617877-2cb9gundtft6k9jovtcr6cn2rqjnhfq5.apps.googleusercontent.com"
    data-redirecturi="postmessage"
    data-accesstype="offline"
    data-cookiepolicy="single_host_origin"
    data-callback="signInCallback"
    data-approvalprompt="force">
</span>
</div>

<div id="result"></div>

<script type="text/javascript">
    function signInCallback(authResult) {
        if (authResult['code']) {
            $('#signInButton').hide()

            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                data: authResult['code'],
                success: function(result) {
                    if (result) {
                        $('#result').html('Login Succesful!</br>'+ result +'</br>Redirecting...')
                        setTimeout(function() {
                            window.location.href = '/bar';
                        }, 2000);
                    }
                }
            });

        } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
        } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
    }
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"></script>
<!-- END Sign in with Google+ -->

{% endblock %}
